.table tbody tr td.yes {
  background-color: #dff0d8;
  vertical-align: middle;
}

.table tbody tr td.no {
  background-color: #f2dede;
  vertical-align: middle;
}

.table tbody tr td.opt {
  background-color: #fcf8e3;
  vertical-align: middle;
}

.nav > li.disabled.nav-header > a {
    cursor: default;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}
