body {
      padding-top: 60px;
}

footer {
	color:#999;
	padding:15px 20px;
	min-height: 40px;
	background-color: #2C2C2C;
	background-image: -moz-linear-gradient(top, #333, #222);
	background-image: -ms-linear-gradient(top, #333, #222);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333), to(#222));
	background-image: -webkit-linear-gradient(top, #333, #222);
	background-image: -o-linear-gradient(top, #333, #222);
	background-image: linear-gradient(top, #333, #222);
	background-repeat: repeat-x;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#333333', endColorstr='#222222', GradientType=0);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}

footer nav ul {
	margin:0;
	padding:0;
}

footer nav li {
	float:left;
	display:inline-block;
	margin-right:5px;
	line-height: 1.2em;
}

footer nav li:after {
	content: "|";
	color:#999;
	display:inline-block;
	padding-left:5px;
}
footer nav li:last-child:after {
	display:none;
}


@media (max-width: 767px) {
	body {
		padding-top:0;
	}

	footer nav li:after {
		display:none;
	}

	footer nav li {
		float:none;
		display:block;
	}

	footer nav {
		display:block;
		float:none;
	}
}
